# Copy to .env.local and set your own values
VITE_FIREBASE_HOST=https://labula-5bb9c-default-rtdb.firebaseio.com/
VITE_FIREBASE_TOKEN=57P1q4qN3rmehxkLwljEburFrEXbmGx1Q64GI9a7
VITE_FIREBASE_BASE_PATH=labula_secret_2024/LABULA
